*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.flex{
    display: flex;
}
.primary-btn{
    border: none;
    border-radius: 100px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: #ffffff;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}
.primary-btn-v2{
    border: 1px solid #00FF88;
    background: none;
    border-radius: 100px;
    color: #00FF88;
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
}
.section-title{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.section-para{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.25rem;
}
.line{
    color: rgba(255, 255, 255, 1);
    border-width: 1px;
    width: 100%;
    /* margin: 80px auto; */
    /* max-width: 75%; */
    opacity: 30%;
}
.nav-items{
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.nav-menu{
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.icon{
    color: #ffffff;
}
.hamburger{
    display: none;
}
.banner{
background: url("/assets/hero-bg.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
max-width: 100vw;
min-height: 100vh;
margin: 0 auto;
position: relative;
}
.hero-circle{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}
.hero-mic{
    position: absolute;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
}
.banner-text-btn{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
}
.text-content{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.button-content{
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.banner-title{
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
}
.banner-text{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.product-badge{
    color: #1A0B2E;
    transform: translate(872px, 112px);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0 rgba(0, 255, 136, 0.5);
}
#about{
    /* visibility: hidden; */
    max-width: 100%;
    /* max-height: 100vh; */
    background-color: rgba(26, 11, 46, 1);
}
.about-section{
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 200px;
}
.section-text{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.achievement-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
}
.achievement-number{
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}
.achievement-title{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.achievement-items{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
#service{
    max-width: 100%;
    background-color: rgba(35, 14, 61, 1);
    

}
.service-content>*{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
    /* display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 16px; */ 
}
#headphone{
    grid-area: headphone;
}
#mobile-friendly{
    grid-area: mobile-friendly;
}
#global-community{
    grid-area: global-community;
}
#interview{
    grid-area: interview;
}
#resource{
    grid-area: resource;
}
.service-content{
    display: grid;
    grid-template-areas: 
     "headphone mobile-friendly mobile-friendly"
     "headphone global-community global-community"
     "interview interview resource"
    ;
    gap: 30px;
    margin: 0 auto;
    max-width: 75%;
    margin-top: 40px;
    padding-bottom: 120px;
}
.content-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;
    text-align: left;
}
.content-para{
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 16px;
    text-align: left;
}
.service-title{
    padding-top: 120px;
}
#features{
    max-width: 100%;
    background-color: rgba(26, 11, 46, 1);
}
.features-title{
    padding-top: 120px;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
}
.feature-content>*{
    background-color: rgba(37, 13, 68, 1);
    /* padding: 40px; */
    border-radius: 16px;
    /* position: relative; */
}
iframe{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
}
.episode-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}
.episode-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding: 24px;
}
.episode-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    /* margin-top: 16px; */
    text-align: left;
}
.episode-para{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    /* margin-top: 16px; */
    text-align: left;
}
.duration{
    color: rgba(0, 255, 136, 1);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;

}
#host-part{
    max-width: 100%;
    background-color: rgba(26, 11, 46, 1);
    padding-bottom: 120px;
}
.host-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 75%;
    margin: 0 auto;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;
    margin-top: 40px;
    /* margin-bottom: 120px; */
}
.host-content-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;
}
.host-text-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}
.host-para{
    font-size: 1rem;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    /* margin-top: 16px; */
    text-align: left;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.icon-li{
    border: 1px solid rgba(83, 60, 114, 1);
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background: url("/assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 412px;
    margin: 0 auto;
    position: relative;
}
.foot-content{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 32px;
    margin: 0 auto;
    padding-top: 120px;
    /* padding: 120px 200px; */
}
.foot-logo{
    width: 25%;
    height: 60px;
}
.foot-social-icon{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 60%;
}
.foot-icon{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}
.copyright{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff; 
}
 @media screen and (max-width: 576px){
  .service-content{
    display: grid;
    grid-template-areas: 
     "headphone"
     "mobile-friendly"
     "global-community"
     "interview"
     "resource"
     ;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    max-width: 75%;
    margin-top: 40px;
    padding-bottom: 120px;
}
.feature-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 120px;
}
.host-content-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;
}
.host-text-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.host-para{
    text-align: center;
}
.nav-menu{
  display: none;
}
.nav-link{
    display: none;
}
nav>button{
    display: none;
}
.nav-items{
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.banner-title{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.section-title{
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
br{
    display: none;
}
.achievement-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 16px;
}
.achievement-number{
    color: rgba(0, 255, 136, 1);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.about-section{
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px 20px;
}
.product-badge{
    color: #1A0B2E;
    transform: translate(340px, 112px);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    z-index: 1;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0 rgba(0, 255, 136, 0.5);
}
footer{
    background: url("/assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 248px;
    margin: 0 auto;
    position: relative;
}
.foot-content{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 32px;
    margin: 0 auto;
    padding-top: 40px;
    /* padding: 120px 200px; */
}
.foot-social-icon{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 60%;
}
}